*{
    padding: 0%;
    margin: 0%;
}
header{
    padding: 10px ;
    border-radius:40px ;
    background-color: #151515;
}
.Nav{
    display: flex;
    justify-content: space-around;
}
.Logo_JCREA{
    padding-top: 5px;
    width: 200px;
    height: 50px;
}

.Nav a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-family: "Arial", sans-serif;
    font-weight: 50;
    font-style:normal;
    font-size: 20px;
    transition: background;
    cursor: pointer;
}
.Nav a:hover{
    background: #FE853A;
    border-radius: 40px;
}

.Hero{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
    padding: 50px;
    flex-wrap: wrap;
}

.Hello{
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 10px 30px;
}

h1.Primer_titulo{
    align-self: flex-start;
    font-size: 70px;
}

.Casi_abajo{
    display: flex;
    justify-content: space-between;
}

.Abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
    border-radius: 40px;
}


div.Al_lado{
    display: flex;
    flex-direction: row;
}

div.Color_amarillo{
    color:#FE853A;
}

footer{
    background-color: #222222;
    font-style: normal;
    color: #D8D8D8;
}

.EncabezadoF{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.Informacion{
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    
}

.First_Information{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: justify;
    padding-top: 200px;
    flex:auto;
}

.Logo2{
    width: 200px;
}

.Iconos{
    padding-top: 20px;
}

.Second_Informacion {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex:initial;
}

.Second_Informacion a{
    text-decoration: none;
    color: #D8D8D8;
    padding: 10px 10px;
    font-family: "Arial", sans-serif;
}

.Third_Informacion{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex:initial;
}

.Third_Informacion p{
    padding-top: 20px;
}

div.Color_naranja{
    color: #D88B64;
}

.Fourth_Information{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex:initial;
}

.Formulario{
    border-radius: 20px;
    padding:15px;
}

.Copyright{
    display: flex;
    justify-content: space-between;
}

.Right{
    padding-top: 30px;
}
.Terminos{
    display: flex;
    padding-top: 30px;
}