*{
    padding: 0%;
    margin: 0%;
}
header{
    padding: 10px ;
    border-radius:40px ;
    background-color: #151515;
}
.Nav{
    display: flex;
    justify-content: space-around;
}
.Logo_JCREA{
    padding-top: 5px;
    width: 200px;
    height: 50px;
}

.Nav a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-family: "Arial", sans-serif;
    font-weight: 50;
    font-style:normal;
    font-size: 20px;
}
.Nav a:hover{
    background: #FE853A;
    border-radius: 40px;
}

.Hero{
    background-image: url('../img/Presentación.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 80vh;
    flex-wrap: wrap;
}

.Hello{
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 10px 30px;
    margin-top: 40px;
}

h1.Primer_titulo{
    align-self: flex-start;
    font-size: 70px;
    position: relative;
    bottom: 150px;
}

.Casi_abajo{
    display: flex;
    flex-direction: row;
    width: 70%;
    position: relative;
    bottom: 140px;
    justify-content: space-between;
}

.Abajo{
    padding: 30px 50px;
    border-radius: 40px;
    background-color: hsl(20, 100%,70%);
}

.Abajo a{
    text-decoration: none;
    color: white;
    padding: 5px 40px;
    font-family: "Arial", sans-serif;
    font-weight: 50;
    font-style:normal;
    font-size: 20px;
}

.Abajo a:hover{
    background: #FE853A;
    border-radius: 40px;
}

.Cita{
    width: 300px;
    font-size: x-large;
    
}

.años{
    font-size: 60px;
    font-weight: bold;
}

.Experiencia{
    font-size: xx-large;
}

.bi-star-fill{
    color: #FE853A;
    size: 100px;
}

.fa-quote-left{
    color: #344054;
}

.Contratame{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2F4F7;
    border-radius: 40px;
    height: 900px;
}

.Imagen_irrelevante{
    display: flex;
    flex: initial;
}
.Imagen_irrelevante img{
    height: 900px;
}
.El_porque{
    display: flex;
    flex-flow: column;
    width: 400px;
}

.Pregunta{
    font-size: 60px;
}

.Respuesta{
    color: #C7CCD4;
    font-size: xx-large;
    padding: 40px 0px;
}

.Puntuacion{
    display: flex;
    justify-content: center;
}

.Puntuacion p{
    font-weight: bold;
    margin: 20px 60px;
}

.PC{
    color: #525E72;
    font-size: xx-large;
}

.Contador{
    font-size: 50px;
}

.Bot{
    margin-top: 50px;
    width: 50%;
    height: 160px;
    border-radius: 60px;
    font-size: xx-large;
    font-weight: bold;
    background-color: #F2F4F7;
}
.Portfolio{
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PortfolioT{
    display: flex;
    justify-content: space-evenly;
    height: 160px;
    width: 100%;
}

.Testimonios{
    background-image: url('../img/08.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    border-radius: 20px;
    display: flex;
    font-family: Geneva, Tahoma, sans-serif ;
    flex-flow: column wrap;
    align-items: center;
    color: #D8D8D8;
    text-align: center;
    
}

.TestimoniosT{
    margin-top: 140px;
    font-size: xx-large;
}

.Todo button{
    
    padding: 10px 10px;
    border-radius: 40px;
    background-color: #FE853A;
    color: white;
    font-size: x-large;
}

.Estrujar{
    width: 800px;
    font-size: x-large;
    margin: 20px;
    text-align: center;
}

.Interesados{
    height: 600px;
    display: flex;
    
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.Gigante{
    color: #344054;
    font-size: 40px;
    width: 40%;
}

.Recibo_mails{
    margin: 10px 0px 0px 0px;
}

.FMail{
    border-radius: 40px;
    padding: 4% 380px;

}

.Clasificacion {
    display: flex;
    justify-content: space-around;
    color: #344054;
    font-size: medium;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 0px;
}

.Clasificacion p{
    margin: 0px 60px;
}

div.Al_lado{
    display: flex;
    flex-direction: row;
}

div.Color_amarillo{
    color:#FE853A;
    display: inline;
}

.Transicion{
    border-radius: 20px 0px;
    width: 100%;
}

footer{
    background-color: #222222;
    font-style: normal;
    color: #D8D8D8;
    border-radius: 20px 20px 0px 0px;
}

.Contenedor_linea_divisoria{
    padding: 40px;
   
}

.Linea_divisoria{
    height: 0.5px;
	background-color: #30353F;
    border-color: #3B475B;
    border-radius: 40px;
	width: 100%;
}

.EncabezadoF{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 60px;
}

.EncabezadoFT{
    font-size: 40px;
}

.Informacion{
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
    padding-left: 40px;
    
}

.First_Information{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: justify;
    padding-top: 200px;
    font-weight: 200px;
    flex:auto;
}

.Logo2{
    width: 200px;
}

.Iconos{
    padding-top: 20px;
}

.Second_Informacion {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px 30px 0px 100px;
    flex:initial;
}

.Second_Informacion a{
    text-decoration: none;
    color: #D8D8D8;
    padding: 10px 10px;
    font-family: "Arial", sans-serif;
}

.Third_Informacion{
    display: flex;
    flex-direction: column;
    width: 300px;
    flex:initial;
}

.Third_Informacion p{
    padding-top: 20px;
}

div.Color_naranja{
    color: #D88B64;
}

.Fourth_Information{
    display: flex;
    flex-direction: column;
}

.FormularioT{
    padding: 0px 20px;
}

.FormularioD{
    padding: 10px 40px;
}

.Formulario{
    border-radius: 20px;
    padding:15px;
}

.Copyright{
    display: flex;
    justify-content: space-between;
}

.Right{
    padding: 0px 0px 30px 40px
}

.Otro{
    padding: 0px 30px 0px 0px;
    
}

.Terminos{
    display: flex;
}

.Terminos a{
    color:white;
    font-style: normal;
    padding: 0px 10px;
}


